%li
  = link_to (fa_icon 'github', text: 'Login with Github'), login_with_github_path
%li
  = link_to (fa_icon 'bitbucket', text: 'Login with Bitbucket'), login_with_bitbucket_path 
%li
  = link_to (fa_icon 'twitter', text: 'Login with Twitter'), login_with_twitter_path 
%li
  = link_to (fa_icon 'google-plus', text: 'Login with Google'), login_with_google_path
%li
  = link_to (fa_icon 'facebook', text: 'Login with Facebook'), login_with_facebook_path
